
@media (max-width: 768px) { 
	.carousel-image{
		max-width: 100%;
		width: 100%;
		height: 200;
	}
	.product-detail{
		background-color: #CB012A;
		color: #FFF;
		/*height: 400px;*/
		padding: 20px;
	}
	.product-detail .title{
		font-size: 3em;
	}
	.carousel-indicators{
		bottom: -12%;
		width: 100%;
		left: -10%;
		margin-left: 0;
	}
	.carousel-indicators-numbers li {
		text-indent: 0;
		display: inline-block;
		padding-top: 2px;
		width: 60px;
		height: 35px;
		font-size: 1.3em;
		border-radius: 0;
		color: black;
		background-color: #f7f7f7;
	}
	.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
	  width: 60px;
	  height: 35px;
	  color: black;
	  background-color: #f7f7f7;
	  border: 2px solid #3C3C3C;
	}
}
@media (min-width: 768px){
	.no-gutter {
	  margin-left: 0 !important;
	  margin-right: 0 !important;
	  [class*="col-"] {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	  }
	}
	.carousel-image{
		max-width: 100%;
		width: 100%;
		height: 400px;
	}
	.carousel-indicators{
		bottom: -18%;
		width: 100%;
		left: -14%;
		margin-left: 0;
	}
	.carousel-indicators-numbers li {
		text-indent: 0;
		display: inline-block;
		padding-top: 6px;
		width: 100px;
		height: 60px;
		font-size: 2em;
		border-radius: 0;
		color: black;
		background-color: #f7f7f7;
	}

	.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
	  width: 100px;
	  height: 60px;
	  padding-top: 6px;
	  color: black;
	  background-color: #f7f7f7;
	  border: 2px solid #3C3C3C;
	}
	.product-detail{
		background-color: #CB012A;
		color: #FFF;
		height: 400px;
		margin-left: -15px;
		padding: 30px;
	}
	.product-detail .title{
		font-size: 4em;
	}
}

#carousel_custom {
    margin: 20px auto;
    width: 100%;
}
        
#carousel_custom .carousel-outer {
    position: relative;
}

.product-detail .view-detail{
	color: #FFF;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

