
#container {
  position: absolute;
  left: 47%;
  top: 47%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 300px;
  height: 40px;
  background: #cecece;
}
#animate {
  height: 38px;
  position: absolute;
  background-color: #0489d1;
  margin-top: 0px;
}
#currentValue {
  position: absolute;
}

.target{
	left:300px;
	background-color:#6e6e72;
	color:#FFF;
	height:40px;
	position:absolute;
	padding:5px;
	top:-5px;
}

#remainingTarget{
	top:25px;
	position:
	absolute;
	left:20px;
}

.valueRow{
	top:45px;
	position:relative;
}

.circle{
	height:8px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius:50%;
	font-size:16px;
	color:#fff;
	text-align:center;
	background:#0489d1;
}